force-app/main/default/flows/Employee_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <dynamicChoiceSets>
        <name>skill</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Skill__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Employee_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee_Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Employee_Creation</name>
        <label>Employee Creation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Send_Email_Employee_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Number__c</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Birth__c</field>
            <value>
                <elementReference>DOB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Employee_Last_NAme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salary__c</field>
            <value>
                <elementReference>Salary</elementReference>
            </value>
        </inputAssignments>
        <object>Emplyee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Contact_Info</name>
        <label>Contact_Info</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Employee_Creation</targetReference>
        </connector>
        <fields>
            <name>DOB</name>
            <dataType>Date</dataType>
            <fieldText>DOB</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>Number</dataType>
            <fieldText>Phone_Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Email_Id</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Employee</name>
        <label>Employee</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Info</targetReference>
        </connector>
        <fields>
            <name>Employee_Last_NAme</name>
            <dataType>String</dataType>
            <fieldText>Employee Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Salary</name>
            <dataType>Number</dataType>
            <fieldText>Salary</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Employee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_Employee_Creation</name>
        <label>Send Email Employee Creation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <flowName>Sub_Flow_Email_Sender</flowName>
        <inputAssignments>
            <name>Email_Catcher</name>
            <value>
                <elementReference>Email_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>emailBody</name>
            <value>
                <elementReference>emailTemplate</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>emailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello, {!Employee_Last_NAme} your number is {!Phone_Number}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Salary : {!Salary}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Here is the email of sub flow .&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
